<div>
  <div class="navbar-toggle collapsed navbar-livereload">
    <% if SolidQueueUi::Web.app_url %>
      <a class="btn btn-inverse" href="<%= SolidQueueUi::Web.app_url %>"><%= t('BackToApp') %></a>
    <% end %>
  </div>
  <a class="navbar-brand" href="<%= root_path %>">
    <%= SolidQueueUi::NAME %>
  </a>

  <div class="collapse navbar-collapse" id="navbar-menu">
    <ul class="nav navbar-nav" data-navbar="static">
      <% SolidQueueUi::Web.default_tabs.each do |title, url| %>
        <% if url == '' %>
          <li class="<%= current_path == url ? 'active' : '' %>">
          <a href="<%= root_path %><%= url %>"><%= t(title) %></a>
          </li>
        <% else %>
          <li class="<%= current_path.start_with?(url) ? 'active' : '' %>">
          <a href="<%= root_path %><%= url %>"><%= t(title) %></a>
          </li>
        <% end %>
      <% end %>
    </ul>
  </div>
</div>
